<section class="general">
    <section class="white">
        
        <section class="header">
            <div class="marca">
                <img src="../../assets/gallery/Logo.svg" alt="">
                <p>Design Guild</p>
            </div>
        
            <form action="" class="form">
                <div class="contendInput">
                    <label for="">Email</label>
                    <input type="email" name="" id="" placeholder="Ej. ejemplo@correo.com" required>
                </div>
                <div class="contendInput dos">
                    <label for="">Password</label>
                    <div class="ojo">
                        <input class="black" type="password" name="" id="" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
 >
                        <img src="../../assets/gallery/off.svg" alt="">
                    </div>
                    <a href="">Forgot password?</a>
                </div>
                <button class="btn">Login</button>
        
            </form>
        </section>
    
        <section class="contentGeneral">
    
            <section class="fotos">
                <p class="welcome">Welcome to Design Guild</p>
                <p class="join">Join the world’s largest community for designers</p>
                <p class="Recent">Recent Logins</p>

                <div class="fotosPersonas">
                    <div class="fotoLabel">
                        <img src="../../assets/gallery/IMG22.svg" alt="">
                        <p>Aliana Hepburn</p>
                    </div>
                    <div class="fotoLabel">
                        <img src="../../assets/gallery/IMG11.png" alt="">
                        <p>Andrew Pochink</p>
                    </div>
                    <div class="fotoLabel tres">
                        <img src="../../assets/gallery/circle.svg" alt="">
                        <p>Add Account</p>
                    </div>


                </div>
            </section>

            <section class="conytenidDos">

                <p class="our">Join our <br> community today</p>
                <p class="get">Get connected, find designers to start a project</p>
                <div class="todo">
                    <button>Sign Up</button>
                    <p class="or">Or, login with</p>
    
                    <div class="links">
                        <div class="redes">
                            <p>Facebook</p>
                        </div>  
                        <div class="redes">
                            <p>Linked In</p>
                        </div>                    
                        <div class="redes">
                            <p>Google</p>
                        </div>                    
                    
                </div>

                    
                    


                </div>

            </section>

    
        </section>


    </section>


</section>